header{
    position: relative;
    z-index: 2;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        #logo{
            position: relative;
            z-index: 2;
        }
        #menuToggle{
            z-index: 2;
            position: relative;
        }
        nav{
            position: absolute;
            left: 0;
            top: 0;
            width: 80%;
            max-width: 600px;
            background: #fff;
            height: 200vh;
            z-index: 1;
            padding: 200px 1rem 0 2.5vw;
            opacity: 0;
            transform: translateX(-100%);
            transition: all .3s ease;
            ul{
                flex-direction: column;
                align-items: flex-start;
                gap: 45px;
            }
            &.active{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}



.table{
    .container{
        table{
            width: unset;
        }
    }
}

