.pre-header .container { flex-direction: column; align-items: flex-start; }
.pre-header .right { width: 100%; justify-content: space-between; }

header #menuToggle { top: 52px; right: 10px; }

section.account-info .cta-sec .left .greeting { font-size: 24px; }
section.account-info .bars .bar .figure { font-size: 27px; }

.quick-actions { grid-template-columns: 1fr; }
.quick-action { text-align: center; }

table { min-width: 700px; }

form .input-box label { font-size: 14px; }

section.manage-account .row { flex-direction: column; align-items: flex-start; }
section.manage-account .row img { width: 100%; height: 130px; }

section.account-success .content,
section.kyc-ver .content { margin-top: 35px; padding: 20px; }
