@media (max-width: 720px) {
  .site-header #menuToggle {
    top: 14px;
    right: 14px;
  }

  .site-header .header-meta-bar {
    display: none;
  }

  .site-header .header-nav-bar .container {
    min-height: 64px;
  }

  .site-header .header-nav-bar .container #logo img {
    height: 52px;
  }

  .site-header .mobile-nav {
    width: 100vw;
    max-width: none;
    padding-top: 84px;
  }

  footer {
    padding: 48px 0;
  }

  footer .container .left {
    grid-template-columns: 100%;
    gap: 32px;
  }
}
